.list-group-item {
  border: none; /* Add this line to remove the border for checklist items */
}

.collapse-icon, .sublist-collapse-icon {
  display: inline-block;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.collapse-icon.expand:before, .sublist-collapse-icon.sublist-expand:before {
  content: "\25B6";
}

.collapse-icon.collapse:before, .sublist-collapse-icon.sublist-collapse:before {
  content: "\25BC";
}

.add-sublist-icon {
  display: inline-block;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.sublist-input {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.sublist-input input {
  flex: 1;
  margin-right: 5px;
}


.sublist-input {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.sublist-input input {
  flex: 1;
  border: none; /* Remove all borders */
  /* border-bottom: 1px solid #ccc; Add the bottom border */
  padding: 5px; /* Add some padding for better appearance */
}

.sublist-input input:focus,
.sublist-input input:active {
  outline: none; /* Remove the focus/active outline */
  border: none; /* Remove all borders during typing or focus */
}
